body {
    background-color:rgb(116, 116, 116);
    font-size: 2.1em;

}
h1 {
    color:orange;
    text-align: center;
}
.coloful {
    color:blue;
}
p {
    text-align: center; 
    color: yellow;
}
img {
    margin-left: 500px;
}
h2 {
    color:red;
    text-align: center;
}
p {
    color:white
}
